<!DOCTYPE html>
<head>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
        <h3 class="m-2 pl-3">Summarize Information</h1>
    </nav>
    
    <form method="post">
        {% csrf_token %}
        <div class="row m-3">
            <div class="card col p-0 m-2">
                <div class="card-header">
                  Unsummarized Text
                </div>
                <div class="card-body">
                    <textarea class="form-control input-text" aria-label="With textarea" type="text" name="unsummarizedText" style="height: 60vh">{{unsummarizedText}}</textarea>
                </div>
            </div>
            <div class="card col p-0 m-2">
                <div class="card-header">
                  Summarized Text
                </div>
                <div class="card-body">
                    <textarea readonly class="form-control output-text" aria-label="With textarea" style="height: 60vh">{{summarizedText}}</textarea>
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn m-1">Example</button>
                <button type="submit" class="btn btn-primary btn m-1">Submit</button>
                <button type="button" class="btn btn-primary btn clear-button m-1">Clear</button>
            </div>
        </div>
    </form>
</body>
<script>
    $(".clear-button").click(() => {
        $(".input-text").val("");
        $(".output-text").val("");
    });
</script>